# Project 4 Stock
__C. Fortino Flores (flores5505)__ <br>
<hr>

## Environment Set Up

In [1]:
import pandas as pd

<hr>

## (11/19) Week 1 : Testing the Waters
As I have never worked with stocks prior to this assignment, this week I had decided to primarily spend my time on learning more about them and the stock market as a whole.

### Initial Investments
<table>
    <tr>
        <th> Company </th>
        <th> Purchase Price </th>
        <th> Qty </th>
        <th> Total Cost </th>
    </tr>
    <tr>
        <td> BA Boeing Co. </td>
        <td> \$213.38 </td>
        <td> 200 </td>
        <td> \$42,676.00 </td>
    </tr>
    <tr>
        <td> OKTA Okta Inc. </td>
        <td> \$241.68 </td>
        <td> 100 </td>
        <td> \$24,168.00 </td>
    </tr>
    <tr>
        <td> WMT Walmart Inc. </td>
        <td> \$142.32 </td>
        <td> 200 </td>
        <td> \$28,464.00 </td>
    </tr>
</table>

### Reasoning

I began to decide my initial purchases by checking through each of the main indices: S&P 500, Nasdaq, Dow Jones.

I initially noticed that the Dow Jones was currently down 268.97 points so I was interested in finding out which companies were accounting for such a drastic change. The two main culprits appeared to be UniteHealth Group Inc. and Boeing Company, with a change in 9.47 and 13.00 respectively. I decided to buy Boeing over UnitedHealth beacuse looking at 3 month graphs for both of the companies' stock revealed that UnitedHealth had just started dipping and is still 20 more than in september, while Boeing dipped much faster to 5 below September's price. I expect Boeing to start increasing soon and for UnitedHealth to decrease a bit more.

Looking through the Nasdaq 100 revealed that Okta had just dipped to 35 below it's three month high which occured early in September. It's stock change compared to the previous close was down 23.34 . Taking these two facts into account I expect this company to be a safe purchase.

Finally, I decided to purchase stock of Walmart because it just started recovering from a downward trend from it's three month high in the beggining of November. I am expecting them to move lots of merchandise for black friday and christmas and hopefully that will help the stock increase more.

### Conclusion

I had used this introductory week to mainly look through the current lowest performing companies in each of the indices and use that information to help me decide to purchase stock of them. Next week I will look through how I can analyze the data more than using my own head.

This week I spent ~100,000 on stock to test the waters and decided to save the other ~150,000 for any future trades I would like to make.

---

## (11/26) Week 2 In the Red

I had many other obligations this week such as a final exam in another class, other projects, and spending the Holiday with family so I was unable to spend as much time as I would have liked to on my stocks. Consequently, I am currently at a loss in my investments. My account is valued at 245,784.00 dollars; which is 5,000 dollars less than last week's initial starting balance.

### End of Week's Investments
<table>
    <tr>
        <th> Company </th>
        <th> Purchase Price </th>
        <th> Current Price </th>
        <th> Qty </th>
        <th> Total Cost </th>
    </tr>
    <tr>
        <td> BA Boeing Co. </td>
        <td> \$213.38 </td>
        <td> \$199.21 </td>
        <td> 200 </td>
        <td> \$39,842.00 </td>
    </tr>
    <tr>
        <td> OKTA Okta Inc. </td>
        <td> \$241.68 </td>
        <td> \$222.69 </td>
        <td> 100 </td>
        <td> \$24,168.00 </td>
    </tr>
    <tr>
        <td> SCHW Charles Schwab Corp. </td>
        <td> \$79.15 </td>
        <td> \$79.15 </td>
        <td> 100 </td>
        <td> \$7,915.00 </td>
    </tr>
    <tr>
        <td> JNJ Johnson & Johnson </td>
        <td> \$159.20 </td>
        <td> \$159.20 </td>
        <td> 1 </td>
        <td> \$159.20 </td>
    </tr>
    <tr>
        <td> MA Mastercard Inc. </td>
        <td> \$324.17 </td>
        <td> \$324.17 </td>
        <td> 1 </td>
        <td> \$324.17 </td>
    </tr>
</table>

The stock market being closed for Thanksgiving really saw the value of stocks decrease greatly. Prior to the holiday, they were soaring; yet, immediately afterwards, there was a steep decline. Boeing and Okta both experienced this with thier price decreasing to below the point at which I purchased them. I am going to hold on to these two though as I expect them two increase once again.

I decided to purchase stocks of both Mastercard and Johnson and Johnson as an indicator to see how well they do. If I notice them begin to climb when the market opens again, I will purchase more and hope to gain a sizable profit to get out of the red.

### End of week's Sales
<table>
    <tr>
        <th> Company </th>
        <th> Purchase Price </th>
        <th> Sale Price </th>
        <th> Qty </th>
        <th> Initial Cost </th>
        <th> Profit </th>
    </tr>
    <tr>
        <td> WMT Walmart Inc. </td>
        <td> \$142.32 </td>
        <td> \$144.90 </td>
        <td> 200 </td>
        <td> \$28,464.00 </td>
        <td> \$516.00 </td>
    </tr>
</table>

When I finally got to checking my stocks, I saw that i missed the peak time to sell Walmart, however, I still made a profit and decided to sell because the price was falling to before the price of my initial purchase.

## (12/03) Week 3 ↓Down ↓Down ↓Down

This week I was still too engaged with other obligations; consequently, I was not able to analyze my stocks as much as I had hoped. However, I did attempt to play the market more than I had previously. In total I made 42 trades this week. This many trades was a double edged sword that ended up hurting instead of helping. The market was insanely volatile this week! This resulted in lots of losses that outweighed any gains, especially on the market's closing day of the week.

### Weekly Trades

In [2]:
trades = pd.read_csv('trades.csv')
trades.sort_values('Symbol')

          Date Symbol Trade Type   QTY     Price Total Cash Value
32  11/30/2021   AAPL     Market   200  $163.54       $32,708.00
25   12/2/2021   AAPL     Market   500  $159.96       $79,977.50
23   12/2/2021   AAPL     Market   800  $161.64      $129,308.00
22   12/2/2021   AAPL     Market   500  $161.88       $80,940.00
19   12/2/2021   AAPL     Market   500  $163.65       $81,825.00
33  11/30/2021   AAPL     Market   100  $164.24       $16,424.00
4    12/3/2021   ADBE     Market   150  $619.37       $92,904.75
6    12/3/2021   ADBE     Market    24  $630.45       $15,130.80
8    12/3/2021   ADBE     Market    50  $634.19       $31,709.50
9    12/3/2021   ADBE     Market    50  $641.09       $32,054.50
10   12/3/2021   ADBE     Market   100  $641.09       $64,109.00
39  11/29/2021     BA     Market   200  $198.41       $39,681.86
0    12/3/2021   COST     Market   180  $529.15       $95,247.00
2    12/3/2021   COST     Market   180  $527.76       $94,996.80
3    12/3/2021   CSCO     Market  1200   $56.67       $68,004.00
16   12/3/2021   CSCO     Market  1200   $56.62       $67,944.00
38  11/29/2021    JNJ     Market     1  $159.30          $159.30
24   12/2/2021     MA     Market    50  $314.77       $15,738.50
28   12/2/2021     MA     Market    49  $314.51       $15,410.99
13   12/3/2021     MA     Market   200  $315.89       $63,178.00
5    12/3/2021     MA      Limit   200  $317.97       $63,594.00
37  11/30/2021   MRNA      Limit    50  $343.31       $17,165.60
26   12/2/2021   MRNA     Market   100  $317.00       $31,700.00
34  11/30/2021   MRNA     Market    50  $356.03       $17,801.50
30   12/2/2021   MRNA     Market   100  $305.64       $30,563.50
7    12/3/2021   MSFT     Market   100  $327.90       $32,790.00
12   12/3/2021   MSFT     Market   100  $330.74       $33,074.00
15   12/3/2021   MSFT     Market   250  $330.84       $82,710.00
1    12/3/2021   MSFT     Market   100  $320.84       $32,083.81
17   12/2/2021   MSFT     Market   250  $330.93       $82,732.50
11   12/3/2021   MSFT     Market   200  $330.01       $66,002.00
14   12/3/2021   NVDA     Market   200  $320.00       $64,000.00
35  11/30/2021   OKTA     Market   101  $215.75       $21,790.75
41  11/29/2021   OKTA     Market     1  $224.00          $224.00
27   12/2/2021   OKTA     Market   200  $220.21       $44,042.00
31   12/2/2021   OKTA     Market   200  $218.19       $43,638.00
36  11/30/2021   SCHW     Market  1000   $78.01       $78,005.00
40  11/29/2021   SCHW     Market   900   $80.04       $72,036.00
29   12/2/2021    UNH     Market   200  $445.88       $89,175.00
21   12/2/2021    UNH     Market    50  $444.05       $22,202.50
18   12/2/2021    UNH     Market    50  $444.49       $22,224.50
20   12/2/2021    UNH     Market   200  $445.61       $89,122.00

### Weekly Portfolio

In [3]:
portfolio = pd.read_csv('portfolio.csv')
portfolio.sort_values(by='Date', ascending=True).style.hide_index()

As my portfolio shows, prior to the market's closure. I had lost money on stock and had regained the amount that I had lost. However, at the market closure the companies that I invested into had dropped terribly and left my account with a value of \$237,377.01.

### End of Week Most Significant Losses

In [4]:
losses = pd.read_csv('Loss.csv')
losses.sort_values(by='Total Loss')

,Symbol,Description,Current Price,Purchase Price,QTY,Purchase Price.1,Total Loss
0,ABDE,Adobe Inc,$616.53,$638.41,74,"$45,623.22","($1,619.11)"
1,MSFT,Microsoft,$323.01,$327.90,500,"$161,505","($2,444.81)"
2,NVDA,Nvidia,$306.93,$320,200,"$61,386","($2,614.00)"

These losses explain why my account has such a low value. Prior to the next market's opening I will analyze each of the stock and determine if I should cut my losses or try to ride thier wave back up.

## (12/10) Week 4 End of Game

This is the final week of the stock project. I was not aware that the game ending on the 10th would mean that it would end at the start of the 10th rather than the end; therefore meaning, I still thought that we this Friday as the last day to trade. I was also not aware that the when the game ended, I would no longer be able to access any data on my trades anymore. Consequently, this week's analysis can not be done without the relevant data to analyze.